
html {
    min-height: 100%;
    min-width: 100%;

}
html {
    text-size-adjust: 100% !important; /* Prevent font scaling in landscape */
    webkit-text-size-adjust: 100% !important; /* Prevent font scaling in landscape */
}
body {

    min-height: 100%;
    min-width: 100%;
    background: #f2f2f6;
}
.hidden {
    display: none;
}
.nav-justified li {
    float: none;
}
.buttongroup {
	padding-top:15px;
	margin:0;
 	padding-left:0; padding-right:0;
	background:rgba(255,255,255,.05);
	margin-bottom:5px;
	box-shadow:0 0 3px rgba(0,0,0,.1);
}
.navbar {
    box-sizing: content-box !important;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}
.navbar-nav {
    width: 100%;
}
.navbar-fixed-top {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.navbar-nav > li > a {
    padding: 20px;
    height: 60px;
    font-size: 14pt;
    font-weight: 400;
}
.navbar-nav, .nav {
    /* max-height: 50px; */
    /* height: 50px; */
    margin: 0;
    padding: 0;
}
.navbar-fixed-top .nav li {
    float: left;
}

.navbar-fixed-top .navbar-header a, .navbar-fixed-top .navbar-header a:hover {
    font-weight: 500;
    font-size: 14pt;
    color: white;
}

.navbar-fixed-top {
    margin: 0;
}
@media (max-width: 768px) {
    nav .nav.navbar-nav {
        background:white !important;
    }
    h1 small {
        display: block;
    }

    .container {
        border-radius: 0;
        /* padding-bottom: 50px; */
    }

    
    .navbar-fixed-top .navbar-header {
        position: fixed;
        left: 50%;
        top: 0;
        line-height: 50px;
    }

    .navbar-fixed-top .navbar-header .navbar-brand {
        position: relative;
        left: -50%;
    }


}

.tabs > .nav > li > a:active {
    color: #ccccff;
}

@media (min-width:769px) {
    .tabs > .nav > li > a {
        font-size: 12pt;
        padding-top: 0;
        padding-bottom: 0;
        width: auto;
        background: #f2f2f6;
        line-height: 40px;
        height: 40px;
        box-shadow: 0.5px 1px 1px rgba(0, 0, 0, 0.2);
        margin: 5px -1px;
        color: #595959;
        border-radius: 0;
    }

    .tabs > .nav > li:first-child > a {
        border-radius: 4px 0 0 4px;
    }

    .tabs > .nav > li:last-child > a {
        border-radius: 0 4px 4px 0;
    }

    .tabs > .nav > li > a:hover {
        background: white
    }

    .tabs > .nav > li > a:active {
        background: #e3e3e3;
        color: black;
    }

    .tabs > .nav > li.active a {
        background: #6b6b6c;
        color: white;
    }
}

.control-button-container {
    margin-bottom:20px;
    padding-left: 0px;
    padding-right: 0px;
}
.btn-huge {
    line-height:3em;
}
.navbar {
    background: white;
    position: fixed;
    width:  100%;
}
.sharp-right {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}
.sharp-left {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
#Yamaha_RAX23_WV50020-KEY_POWER-5x {
    line-height: 56px;
}
.initial-hide {
    display: none;
}
.nav-title {
    padding-left: 10px;
}
.btn-fav {
    margin-bottom: 15px;
}
.fav-pic {
    margin-right: 15px;
    max-width: 150px;
    height: 50px;
}
.remote-screen {
    padding-top: 75px;
}
.h4-spacer {
    margin-top: 15px;
    margin-bottom: 0px;
    padding-left: 16px;
}
.sm-spacer {
    min-height: 1px;
    padding-top: 10px;

}
.md-spacer {
    min-height: 1px;
    padding-top: 20px;

}
.h4-fav {
    margin: 0px 0px 10px 16px;
}